@charset "UTF-8";




/* The scroll-padding-top property specifies how much padding should be added on top of the scroll snap container before it starts to scroll. 
It's used to ensure that the scroll snap container is fully visible within the viewport when snapped.

In this case, the value of calc(4.5rem - 1px) is being used, which means that the padding on the top of the HTML element will be 4.5 rem minus 1 pixel. 
This ensures that there is enough space at the top of the viewport for the navigation bar or other fixed elements, while still allowing the scroll snap container to be fully visible.
 */
html {
    scroll-padding-top: calc(4.5rem - 1px);
}

/* changes the cursor style !!!not working!!! */
body {
    cursor: url('mhV2\assets\iconmonstr-cursor-32.svg'), auto;
    background-color: #000;
}

svg {
    width: 25vw;
    /* 1/4 of the viewport width */
    height: auto;
    /* maintain aspect ratio */
}

/*defines the font poppins for all body */
body {
    letter-spacing: 0.0625em;
    font-family: 'poppins';
}

.line {
    border: none;
    height: 1px;
    background-color: rgb(42, 163, 218);
  }

/* -------------------------------------------------------------NAVBAR------------------------------------------------------------- */

/*backrouund color and height of the navbar */

#mainNav {
    min-height: 3.5rem;
    background-color: #ffffff;
}

/*controlls the toggler of the navbar */
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: rgb(42, 163, 218);
    border: 1px dotted rgb(42, 163, 218);
}

/*controlls the font of the brand top left corner */
#mainNav .navbar-brand {
    color: rgb(42, 163, 218);
    font-weight: 700;
    padding: 0.9rem 0;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#mainNav .navbar-brand:hover {
    
    text-shadow: 0 0 5px #2aa3da, 0 0 5px #2aa3da, 0 0 15px #2aa3da;
    color: white;
}


#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

#mainNav .nav-link:hover {
    color: rgb(42, 163, 218);
    font-weight: bolder;
}

/* -------------------------------------------------------------COVER------------------------------------------------------------- */

/*adds image and linear gradient */
.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: "poppins", "Segoe UI", Roboto, sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

/*controlls font size beneath logo */
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 5rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/*controlls font size beneath logo */
.masthead h2,
.masthead .h2 {
    max-width: 20rem;
    font-size: 1rem;
}

/* -------------------------------------------------------------ABOUT------------------------------------------------------------- */

/*adds gradient */
.about-section {
    background: black;
    padding-bottom: 5rem;
}

/*adds space between about text and brands */
.about-section p {
    margin-bottom: 5rem;
}

/* -------------------------------------------------------------BRANDS------------------------------------------------------------- */

#brands .card {
    height: 18rem;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
  }
  
  #brands .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  #brands .card-text {
    color: rgb(42, 163, 218);
  }
  
  #brands .card:hover .card-text {
    color: grey;
  }
  
  #brands .row-cols-auto > .col {
    margin: 0 10px;
  }
  
  @media (max-width: 768px) {
    #brands .row.row-cols-auto > .col {
      margin-bottom: 1rem;
    }
    #brands .card {
      margin-bottom: 30px;
    }
  }
  
  #brands .card-img-top {
    max-height: 150px;
    object-fit: contain;
    margin: 0 auto;
  }
  
  
  
  
  
  

/* -------------------------------------------------------------SERVICES------------------------------------------------------------- */

#services .card {
    height: 18rem;
    margin-bottom: 20px;
  }
  
#services .card {
    border: none;
    background-color: transparent;
}

  #services .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  #services .card-text {
    color: rgb(42, 163, 218);
  }
  
  #services .fa-solid {
    color: rgb(42, 163, 218);
    font-size: 6rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  #services .card:hover .card-text {
    color: grey;
  }
  
  #services .card:hover .fa-solid {
    color: grey;
  }
  
  #services .row-cols-auto > .col {
    margin: 0 10px;
  }
  
  @media (max-width: 768px) {
    #services .row.row-cols-auto > .col {
      margin-bottom: 1rem;
    }
    #services .card {
      margin-bottom: 30px;
    }
  }
  


/* -------------------------------------------------------------PROJECTS------------------------------------------------------------- */

/*adds space between brands and projects */
.projects-section {
    padding: 10rem 0;
}
/*defines the maximum width of the images */

.featured-text img {
    max-width: 100%;
}

/*adds space between projects */
.projects-section .featured-text {
    padding: 2rem;
}


/* -------------------------------------------------------------DEGRADEE------------------------------------------------------------- */

.degradee-section {
    height: 500px; /* Set the height to 500 pixels */
    background: linear-gradient(to bottom, black, white); 
}


/* -------------------------------------------------------------FORM------------------------------------------------------------- */

/*adds backgorund image with gradient */
.signup-section {
    padding: 10rem 0;
    background: linear-gradient(to top, #000 0%, rgba(255, 255, 255, 0.5) 75%, #fff 100%), url("../assets/img/bg-signup.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/*constrolls the input button */
.signup-section .form-signup input {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-family: "poppins", "Segoe UI", Roboto, sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

/* adds space between cards and background image*/
.contact-section {
    padding-top: 5rem;
}

/* -------------------------------------------------------------CONTACTS------------------------------------------------------------- */

/* controlls the text "LOCALIZAÇÃO, EMAIL AND CONTACTO" */
.contact-section .card h4,
.contact-section .card .h4 {
    font-size: 0.8rem;
    font-family: "poppins", "Segoe UI", Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: rgb(42, 163, 218);
    /* change the default color to red */
}

/* controlls the space between the text and icons in contacts */
.contact-section .card hr {
    border-width: 0.05rem;
    color: rgb(42, 163, 218);
}

/* adds space between the cards for contacts and the social network logos */
.contact-section .social {
    margin-top: 5rem;
}

/* turns the text blue when hovered in the contacts section*/
.contact-section a:hover {
    color: rgb(42, 163, 218);
    /* change the hover color to blue */
}

/* sets the default color of the text to red */
.contact-section .small.text-black-50 a {
    color: rgb(42, 163, 218);
}

/* turns the text blue when hovered */
.contact-section .small.text-black-50 a:hover {
    color: grey;
    font-weight: bolder;
}

/* ------------------------------------------------------------- SOCIAL NETWORKS------------------------------------------------------------- */

/* turns the text blue when hovered in the contacts section*/


/* controlls the position of the section for the social network logos */
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* turns the icons grey when hovered */
.social a:hover {
    filter: grayscale(100%);
}

/* makes the icons 20% bigger when hovered */
.contact-section .social a:hover {
    transform: scale(1.2);
}

/* controlls the section for the social network logos */
.contact-section .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
}

/* adds space between the watermark and the social network logos */
.footer {
    padding: 5rem 0;
}